.add-location-button {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.field-selectplus div:not(.input-with-selectbox) {
  margin: 0.3rem 0;
}

.input-save {
  text-align: center;
  padding: 1rem 0 0 0;
}

.selectplus-message.success {
  box-sizing: border-box;
  padding: 0.5rem 0;
  color: #8dae28;
  line-height: 1.8em;
}

.selectplus-message.error{
  padding: 0.5rem 0;
  color: #b3000a;
  line-height: 1.8em;
}
.selectplus-formfield-wrapper {
  display: none;
}
span.error {
  display: block;
  color: #b3000a;
  padding: 0.2em 0;
}
