.add-location-button {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.field-selectplus div:not(.input-with-selectbox) {
  margin: 0.3rem 0;
}


.input-save {
  text-align: center;
  padding: 1rem 0 0 0;
}


.field-selectplus.success {
  box-sizing: border-box;
  padding: 0.5rem;
  background: #8dae28;
  color: #fff;
  margin-top: 1rem;
  line-height: 1.8em;
}

.field-selectplus.error{
  box-sizing: border-box;
  padding: 0.5rem;
  color: #b3000a;
  line-height: 1.8em;
}

.field-selectplus.error div:first-child input{

  border: 1px solid #b3000a;

}

.selectplus-content.hide {
  display:none;
}
